<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="55000">
	<setting type="sep"/>
	<setting type="lsep" label="55001"/>
	<setting id="weebtv_login" type="text" label="55002" default="" />
	<setting id="weebtv_password" type="text" label="55003" option="hidden" default="" />
	<!--<setting id="weebtv_enable" type="bool" label="55004" default="false" />-->
	<setting type="sep"/>
	<setting type="lsep" label="55005"/>
	<setting id="weebtv_hq" type="bool" label="55009" default="true" />
	<setting type="sep"/>
	<setting type="lsep" label="55010"/>
	<setting id="weebtv_rec" type="bool" label="55011" default="false" />
	<setting id="weebtv_rtmp" type="file" label="55007" default="" />
	<setting id="weebtv_dstpath" type="folder" label="55008" default="" />
	<setting id="weebtv_timedelta_hours" type="text" label="55012" default="0" />
	<setting id="weebtv_timedelta_minutes" type="text" label="55013" default="0" />
    </category>
    <category label="55200">
        <setting id="tvn_perpage" type="labelenum" label="55201" values="10|20|30|40|50" default="50" />
        <setting id="tvn_platform" type="labelenum" label="55202" values="Mobile (Android)|Samsung TV" default="Samsung TV" />
        <setting id="tvn_quality_manual" type="bool" label="55204" default="false" />
        <setting id="tvn_quality" type="labelenum" label="55203" values="HD|Bardzo wysoka|Wysoka|Standard|Średnia|Niska|Bardzo niska" default="Bardzo wysoka" visible="eq(-1,false)" />
        <setting id="tvn_quality_temp" type="labelenum" label="" values="" default="" visible="false" />
    </category>
    <category label="55300">
        <setting id="tvp_perpage" type="labelenum" label="55301" values="10|20|30|40|50" default="50" />
    </category>
    <category label="55400">
        <setting id="iplex_adult" type="bool" label="55401" default="false" />
    </category>
    <category label="55500">
        <setting id="ekinotv_sort" type="labelenum" label="55501" values="ocena|popularnosc|data dodania|tytul" default="data dodania" />
        <setting id="ekinotv_sortorder" type="labelenum" label="55502" values="malejaco|rosnaco" default="malejaco" />
    </category>
    <category label="55600">
        <setting id="wlacztv_login" type="text" label="55601" default="" />
        <setting id="wlacztv_pass" type="text" label="55602" option="hidden" default="" />
    </category>
</settings>
